<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
</head>
<body>
    
    <h1> {{date}} Matches</h1>

    {% for match in matches %}
        <a href="{% url 'displayMatch' username=user clubname=club sessionid=session matchid=match.matchID %}">{{match}} </a> <br>
    {% endfor %}

    <br>
    <button><a href="{% url 'displayAllSessions' username=user clubname=club%}">View All Sessions</a></button>
    <br>

    <button><a href="{% url 'createMatch' username=user clubname=club sessionid=session%}">Create New Match</a></button>

    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

</body>
</html>