<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
</head>
<body>
    
    <h1> {{date}} Matches</h1>

    {% for match in matches %}
        <a href="{% url 'displayMatch' username=user clubname=club sessionid=session matchid=match.matchID %}">{{match}} </a> <br>
    {% endfor %}

    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

</body>
</html>