<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Sessions:</h1>

    {% for session in sessions %}
        <a href="{% url 'displaysession' username=user clubname=club sessionid=session.sessionID%}">{{session}} </a> <br>
    {% endfor %}

    <br>
    <button> <a href="{% url 'createSession' username=user clubname=club %}">Create New Session</a></button>

    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

</body>
</html>