<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Members</title>
</head>
<body>
    <h1> {{club}} </h1>
    
    <h2>Members:</h2>
    {% for player in players %}
        <ul>
            
            <li>{{player}}</li>
        
        </ul>
        
    {% endfor %}

    <h2>Add Player to Club</h2>

    <form method="POST">
        {% csrf_token %}
        Player Name: {{form.playerName}} <br>
        {{form.errors}}

        <input type="submit" name="Add New PLayer">
    </form>

    <br>
    <button><a href="{% url 'displayAllSessions' username=user clubname=club%}">View All Sessions</a></button>

</body>
</html>