<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Match {{match}} Details:</h1>
    
    <h2>Score: {{score}}</h2>

    <h2>Team 1:</h2>
    <ul>
        {% for player in team1 %}
            <li>{{player}}</li>
        {% endfor %}
    </ul>
    

    <h2>Team 2:</h2>
    <ul>
        {% for player in team2 %}
            <li>{{player}}</li>
        {% endfor %}
    </ul>

    <h1>Add Score</h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}

        <input type="submit" name="Add Score">   
        
    </form> 

    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}



</body>
</html>